.btn-primary{

    background-color: red;
    border-color: black;
}

.card{

    border-color: black;
    transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}